*{}

:host {
    --slds-c-textarea-sizing-min-height: 50px;
}

textarea {
    width:100%;
    height:150px !important;
    max-height:150px !important;
}

textarea::placeholder {
    text-align:-webkit-center !important;
    padding-top: 45px;
    font-size: 25px;
    /*transform: translateY(150px) !important;*/
}